{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <!--Form with header-->
    <div class="card">
        <div class="card-block">

            <!--Header-->
            <div class="form-header purple darken-4">
                <h3><i class="fa fa-lock"></i> Login:</h3>
            </div>

            <!--Body-->
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="password" class="form-control" name="_password" required="required" />
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="md-form">
                        <input type="checkbox" class="form-control" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>
            </div>

            <div class="text-xs-center">
                <button type="submit" id="_submit" name="_submit"  class="btn btn-deep-purple">{{ 'security.login.submit'|trans }}</button>
            </div>

        </div>

        <!--Footer-->
        <div class="modal-footer">
            <div class="options">
                <p>Not a member? <a href="#">Sign Up</a></p>
                <p>Forgot <a href="#">Password?</a></p>
            </div>
        </div>

    </div>
    <!--/Form with header-->
</form>
