{% extends 'layout.html.twig' %}
{% block body %}
    <h1>Post list</h1>
    <div class="row">
        <div class="offset-md-10 col-md-2 m-b-r ">
            <a href="{{ path('post_new') }}">
                <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <hr>
    {#<ul>#}
        {#<li>#}
                {##}
        {#</li>#}
    {#</ul>#}
        {% for post in posts %}
            <section class="section extra-margins">
                <hr>
                <div class="row">
                    <div class="col-md-4 m-b-r">
                        <div class="view overlay hm-white-slight">
                            <img src="http://mdbootstrap.com/images/regular/city/img%20(32).jpg">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 m-b-r">
                        <a href="" class="pink-text"><h5><i class="fa fa-suitcase"></i>Travels</h5></a>
                        <h4>{{ post.title }}.</h4>
                        <p>{{ post.text }}.</p>
                        <p>by <a><strong>{{ post.author }}</strong></a>, {% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %}</p>
                        <a class="btn btn-cyan" href="{{ path('post_show', { 'id': post.id }) }}">Read more</a>
                    </div>
                    {{ dump(post.author.id) }}
                    {{ dump(app.user.id) }}
                    {% if ( app.user != null )  and  ( post.author.id == app.user.id )  %}
                        <div class="col-md-2 m-b-r">
                            <a href="{{ path('post_edit', {'id' : post.id}) }}" class="teal-text"><i class="fa fa-pencil"></i></a>
                            <a class="red-text"><i class="fa fa-times"></i></a>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
